:root{
    --azul_title:  #5ca4ec;
    --blanco_title:  #e2ebf0;
    --azul_fond:  #5c9ccc;
    --azul_fond_2:  #90dff8;
    --boton: #2484c4;
    --azul_title_1: #154f9e;
    --azul_sub:  #2484c4;
    --azul_sub_1:  #154f9e;
    --azul_nav: #5e9ace;
}

#seccion_inicio{
    width: 100%;
    /* height: 300px; */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;

    /* border-bottom: 2px solid black; */
}
#seccion_inicio h1{
    /* outline: 2px solid green; */
    width: 100%;
    /* height: 50px; */
    margin-top: 3vw;
    margin-bottom: 3vw;
    font-size: 3em;
    font-family: 'Chivo', sans-serif;;
    color:var(--azul_title_1);
    
}
/* ------PROCEDIMIENTO-------- */


#informacion{
    display: flex;
    justify-content: center;
}
.orden{ 
    /* outline: 2px solid red; */
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin-top: 3vw;
}
.informacion_o{
    border: 2px solid var(--azul_fond);
    border-radius: 25px;
    width: 32%;
    height: 90px;
    display: flex;
    justify-content: center;
}
.info_img{
    /* outline: 2px solid blue; */
    width: 20%;
    /* border-radius: 50%; */
    margin: 5px;
    text-align: center;
}
.info_img i{
    width: 100%;
    height: 100%;
    font-size: 4.5em;
    color: var(--boton);
}
.info_text{
    font-family: 'Chivo', sans-serif;;
    width: 80%;
    padding-top: 2vw;
    padding-left: 10px;
    color: var(--azul_sub);
}
.info_text a{
    text-decoration: none;
}

.info_text_1{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    
}
.info_text_1 p{
    font-family: 'Chivo', sans-serif;;
    width: 100%;
    text-align: center;
}
.info_text_1 button{
    border: none;
    width: 45%;
    border-radius: 50px;
    align-items: center;
    background-color: var(--boton);
    color: white;
    font-family: 'Chivo', sans-serif;;
    font-size: 1em;
}
.info_text_1 button a{
    text-decoration: none;
    color: white;
}
.info_text_1 button:hover{
    color: var(--azul_sub);
    transition: 0.3s;
}
/* --------SECCION_DATOS----------- */
#data_imp{
    margin-top: 3vw;
    /* outline: 2px solid red; */
    width: 100%;
    
}
#data_imp .imp{
    /* outline: 2px solid blue; */
    width: 60%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;

}
#data_imp .imp h2{
    /* outline: 2px solid red; */
    font-family: 'Chivo', sans-serif;;
    text-align: center;
    padding-top: 10px;
    color: var(--azul_sub);
    font-size: 2em;
}
#data_imp .imp p{
    font-family: 'Chivo', sans-serif;;
    text-align: center;
    padding-top: 20px;
    padding: 2vw;

}
/*----------------------Galeria------------------*/
#galeria{
    /* background-color: aquamarine; */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
} 
#galeria h2{
    font-family: 'Chivo', sans-serif;;
    text-transform:capitalize;
    width: 100%;
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 50px;
    color: var(--azul_sub);
}
#galeria figure{
    width: 350px;
    height: 300px;
    margin: 5px;
    object-fit: contain;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    border: 4px solid var(--azul_fond_2);
}
#galeria figure img{
    /* background-color: red; */
    width: 100%;
    height: 100%;
    object-fit: cover;
    
   
}
#galeria figure figcaption{
    background-color: rgba(0, 0, 255, 0.394);
    color: white;
    font-family: 'Chivo', sans-serif;;
    position: absolute;
    bottom: -100%;
    left: 0;
    text-align: center;
    width: 100%;
    font-size: 1.8em;
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
}
#galeria figure:hover figcaption{
    background-color: #04074086;
    bottom: 0;
    height: 100%;
    
}
#galeria figure p{
    display: none;
}

/*----------------------ventana emergente------------------*/
#ventana{
    background-color: rgba(0, 0, 0, 0.288);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999999;

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
}
#ventana .contenido{
    outline: auto;
    width: 80%;
    height: 80vh;
    background-color: var(--azul_title);
    color: white;
    font-family: 'Chivo', sans-serif;;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}
#ventana .contenido h3{
    /* background-color: blue; */
    width: 100%;
    font-family: 'Chivo', sans-serif;;
    text-align: center;
    font-size: 3em;
}
#ventana .contenido .marco {
    /* outline: 2px solid red; */
    height: 300px;
    width: 40%;
}
#ventana .contenido .marco img{
    width: 100%;
    height: 100%;
}
#ventana .contenido p{
    font-family: 'Chivo', sans-serif;;
    padding-left: 40px;
    /* outline: 2px solid red; */
    width: 40%;
    font-size: 1.5em;
}
#ventana .contenido .btn_cerrar{
    position: absolute;
    top: -50px;
    right: -50px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--amarillo_medio);
    color: white;
    border: none;
    font-size: 1.5em;   
}
.open{
    transform: translateX(0%);
    transition: 0.4s;   
}
.close{
    transition: 0.4s;
    transform: translate(-100%);
}

/* ---------formulario----------- */

#cita{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-top: 4vw;
    background-image: url(img/form.jpg);
    background-size: cover;
}
#cita h2{
    /* outline: 2px solid blue; */
    font-family: 'Chivo', sans-serif;;
    color: var(--azul_sub_1);
    margin-top: 2vw;
    width: 100%;
    text-align: right;
    padding-right: 9vw;
}
.solicitar-cita{
    /* outline: 2px solid red; */
    width: 40%;
    height: 100%;
    margin-right: 2vw;
    margin-top: 2vw;
    margin-bottom: 3vw;
}
.solicitar-cita p{
    font-family: 'Chivo', sans-serif;;
    color: white;
    font-size: 1.5rem;
    padding: 1vw 3vw;
}
.solicitar-info-1{
    font-family: 'Chivo', sans-serif;;
    color: var(--azul_sub);
    padding: 0.5vw 3vw;
    font-size: 1.5rem;

}
.solicitar-info-2-1{
    font-family: 'Chivo', sans-serif;;
    color: var(--azul_sub);
    width: 55%;
}
.solicitar-info-2-2{
    color: var(--azul_sub);
    font-family: 'Chivo', sans-serif;;
    padding: 0 0 0 3vw;
}
.solicitar-info-2{
    font-family: 'Chivo', sans-serif;;
    display: flex;
    padding: 0.5vw 3vw;
    font-size: 1.5rem;
}
.solicitar-info-2 input{
    
    border: 2px solid var(--azul_title);
    border-radius: 20px;
}
.solicitar-info-1 input{
    border: 2px solid var(--azul_title);
    border-radius: 20px;
}
.solicitar-info-1 textarea{
    border: 2px solid var(--azul_title);
    border-radius: 20px;
    resize: none;
}
.enviar{
    display: flex;
    justify-content: center;
}
.enviar-info{
    border: none;
    background-color: var(--boton);
    color: white;
    border-radius: 20px;
    padding: 0.2vw 2vw;
    font-size: 1.2rem;
    margin: 1vw 0;
}
.enviar-info:hover{
    color: var(--blanco_title);
    transition: 0.8s;
}

#galeria figure{
    width: 300px;
    height: 250px;
    margin: 5px;
}
#ventana .contenido p{
    font-size: 1.2em;
}
/* UBICACION */

#ubi{
    /* outline: 2px solid black; */
    width: 100%;
    height: 450px;
    /* background-color: aquamarine; */
}

@media screen and (max-width:576px) {

    .orden{ 
        width: 90%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 3vw;
    }
    .informacion_o{
        width: 90%;
        margin-bottom: 5px;
    }
    

    #cita{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        margin-top: 4vw;
        background-image: url(img/form.jpg);
        background-size: cover;
    }
    #cita h2{
        /* outline: 2px solid blue; */
        font-family: 'Chivo', sans-serif;;
       
        margin-top: 2vw;
        width: 100%;
        text-align: center;
        padding-right: 9vw;
    }
    .solicitar-cita{
        /* outline: 2px solid red; */
        width: 100%;
        height: 100%;
        margin-right: 2vw;
        margin-top: 2vw;
        margin-bottom: 3vw;
    }
    .solicitar-cita p{
        font-family: 'Chivo', sans-serif;;
        color: white;
        font-size: 1.5rem;
        padding: 1vw 3vw;
    }
    .solicitar-info-1{
        font-family: 'Chivo', sans-serif;;
        padding: 0.5vw 3vw;
        font-size: 1.5rem;
    
    }
    .solicitar-info-2-1{
        font-family: 'Chivo', sans-serif;;
        width: 55%;
    }
    .solicitar-info-2-2{
        font-family: 'Chivo', sans-serif;;
        padding: 0 0 0 3vw;
    }
    .solicitar-info-2{
        font-family: 'Chivo', sans-serif;;
        display: flex;
        padding: 0.5vw 3vw;
        font-size: 1.5rem;
    }
    .solicitar-info-2 input{
        border-radius: 20px;
    }
    .solicitar-info-1 input{
        border-radius: 20px;
    }
    .solicitar-info-1 textarea{
        border-radius: 20px;
        resize: none;
    }
    .enviar{
        display: flex;
        justify-content: center;
    }
    .enviar-info{
        border-radius: 20px;
        padding: 0.2vw 2vw;
        font-size: 1.2rem;
        margin: 1vw 0;
    }
    .enviar-info:hover{
        transition: 0.8s;
    }

    #galeria figure{
        width: 250px;
        height: 200px;
        margin: 5px;
        object-fit: contain;
        position: relative;
        border-radius: 15px;
        overflow: hidden;
    }
    #ventana .contenido p{
        font-size: 0.9em;
    }
}