@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,400;1,500&display=swap'); 

/* font-family: 'Chivo', sans-serif; */
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


/*--------PALETA COLORES_ HEAD--------- */
:root{
        --azul_title:  #5ca4ec;
        --blanco_title:  #e2ebf0;
        --azul_fond:  #5c9ccc;
        --azul_fond_2:  #90dff8;
        --boton: #2484c4;
        --azul_title_1: #154f9e;
        --azul_sub:  #2484c4;
        --azul_sub_1:  #154f9e;
        --azul_nav: #5e9ace;
}
/* ------------HEADER----------- */
header {
    background-color: white;
    width: 100%;
    /* height: 11.5vh; */
    /* border-bottom: 0.2vw solid white; */
}
header .container{
    /* outline: 2px springgreen solid; */
    margin-top: 0%;
    padding: 0%;
}
#logo-img{
    width: 100%;
    margin: 0%;
    padding: 0%;
    padding-bottom: 8px;
}
.brand{
    width: 40%;
    height: 100%;
    margin-top: 0%;
    padding: 0%;
}
.item-navbar{
    color: var(--azul_nav);
    font-family: 'Chivo', sans-serif;;
    font-size: 1.2em;
    font-weight: bold;
    padding-left: 1.5vw;
    margin: 0 0.2vw;
    padding: 5px;
}
.item-navbar:hover{
    /* text-decoration: underline; */
    color: var(--azul_sub_1);
    /* background-color: aqua; */
    transition: 0.3s;
    border-radius: 50px;
}
.item-bt{
    color: white;
    border-radius: 25px;
    background-color: var(--boton);
    font-family: 'Chivo', sans-serif;;
}
.item-bt:hover{
    color:var(--blanco_title);
}
.navbar-toggler {
    padding: 0.3vw;
    line-height: 0.1vw;
    background-color: white;
}

/* ------------footer---------- */


footer{
    background-color: var(--azul_fond);
    width: 100%;
    display: flex;

}
.div-information-general{
    width: 100%;
    margin: 0 0.5vw;
    margin-bottom: 10px;
}
.div-information-general h4{
    font-family: 'Chivo', sans-serif;
    text-align: center;
    margin-top: 20px;
    color: white;
}
.div-information-general p{
    font-family: 'Chivo', sans-serif;
    margin-top: 20px;
    padding: 0 7vw;
    color: white;
}
.div-1-information-general{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-items: center;
    justify-items: center;
}
.div-information-general img{
    /* outline: 2px solid red; */
    width: 70%;
    height: 60%;
}


@media (max-width: 1000px) {
    .icono{
        
        display: none;}
    #menu{
        padding: 0 10vw;
    }
}
/*==================

 /*------------------------------------ Iconos - WhatsApp--------------------------------------- */
.whatsapp_fixed {
    display: flex;
    position: fixed;
    right: 10px;
    z-index: 100;
    bottom: 100px;
    width: 70px;
    height: 80px;
    transition: 1s;
    overflow: hidden;
}
.whatsapp_fixed i {
    color: var(--azul_title_1);
    font-size: 70px;
    padding-top: 5px;
}
.texto-whatsapp{
    color: white;
    text-align: center;
    width: 100%;
    padding-left: 20px;
    font-family:'Chivo', sans-serif; ;
}
.whatsapp_fixed:hover{
    background-color:var(--boton);
    border-radius: 15px;
    width: 14vw;
    transition: 1s;
    padding-left: 0;
}

@media screen and (max-width: 992px) {
    .whatsapp_fixed-1 {
        right: -10px;
    }
    .whatsapp_fixed{
        right: -10px;
    }
    .whatsapp_fixed i {
        font-size: 50px;
    }
    .whatsapp_fixed p {
        font-size: medium;
    }
    .whatsapp_fixed-1 p {
        font-size: medium;
    }
    .whatsapp_fixed:hover{
        width: 25vw;
        margin-left: auto;
    }
    .whatsapp_fixed-1 i {
    font-size: 50px;
    }
    .whatsapp_fixed-1:hover{
        width: 25vw;
    }
}

@media screen and (max-width: 576px) {
    .whatsapp_fixed-1 {
        right: -15px;
    }
    .whatsapp_fixed{
        right: -15px;
    }
    .whatsapp_fixed i {
        font-size: 40px;
    }
    .whatsapp_fixed p {
        font-size: small;
        margin-left: 0px;
    }
    .whatsapp_fixed-1 p {
        font-size: small;
        margin-left: 0px;

    }
    .whatsapp_fixed:hover{
        width: 40vw;

    }
    .whatsapp_fixed-1 i {
    font-size: 40px;
    }
    .whatsapp_fixed-1:hover{
        width: 40vw;
    }
    .div-information-general img{
        width: 95%;
        height: 30%;
        
    }
}
